@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Palanquin:wght@300;400;600;700&display=swap');




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #082e48;
}


body,
h1,
h2,
h3,
p,
ul,
li {
	margin: 0;
	padding: 0;
}


body {
	background-color: #f0f0f0;
}


.container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 21.0cm;
	height: 29.7cm;
	margin: 0.5cm auto;
	padding: 1rem;

}


.container__one {
	width: 55%;
	background-color: #ffffff;
	color: #333;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container__head {
	background-color: #3498db;
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.container__one__heading {
	font-size: 1rem;
	border: 1px solid #ccc;
	width: fit-content;
	letter-spacing: 1px;
	padding: 0.5rem;
	border-radius: 0.5em;
	background: #082e48;
	color: #ccc;
	font-weight: bolder;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
}

.container__nameheading {
	font-size: 1.5rem;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.container__one__designation {
	font-size: 0.9rem;
	font-family: 'Palanquin', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}

#exportPDF{
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 120px;
	height: 30px;
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border: none;
	color: #fff;
	background:royalblue;
   border-radius: 0.5rem;
   padding: 0.5rem;
   cursor: pointer;
}




.container__summary {
	margin-top: 20px;
}



.container__one__summary--list {
	list-style-type: disc;
	padding-left: 20px;
	font-size: 0.9rem;
	line-height: 1.4rem;
	text-align: justify;
}

.summary__list {
	margin-bottom: 10px;
	font-family: 'Palanquin', sans-serif;

}



.container__project {
	margin-top: 5px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}



.project__summary {
	font-size: 0.85rem;
	line-height: 1.4rem;
	margin-bottom: 20px;
	text-align: justify;
	text-indent: 45px;
	font-family: 'Montserrat', sans-serif;
}

.project__list {
	list-style: none;
	font-family: 'Palanquin', sans-serif;
	margin-bottom: 10px;
}

.container__one__subheading {
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	font-family: 'Montserrat', sans-serif;

}

.container__one__subheading i {
	font-size: 24px;
	margin-right: 10px;
}




.container__two {
	width: 45%;
	background-color: #3498db;
	color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}







.container__two__contact {

	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: first baseline;

}

.container__two__heading {
	font-size: 0.9rem;
	border: 1px solid #ccc;
	width: fit-content;
	padding: 0.5rem;
	border-radius: 0.5em;
	background: #dfe6ea;
	color: #082e48;
	font-weight: bolder;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
}

.contact__list {
	list-style: none;

	margin-bottom: 0.7rem;
	display: flex;
	justify-content: first baseline;
	align-items: center;
	align-content: center;
	gap: 0.8rem;
	padding-left: 1.5rem;
}

.contact__list i {
	font-size: 1.5rem;
	margin-right: 10px;
}

.contact__list a {
	color: whitesmoke;
	text-decoration: none;
	align-self: center;

}



.container__skills {
	margin-top: 10px;
	padding: 20px;


}




.container__skills {
	margin-top: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}


.skills__section {
	list-style: none;

	display: flex;
	flex-direction: column;
	justify-content: center;

}

.skills__list {
	margin-bottom: 20px;


}

.container__two__subheading {
	font-size: 0.8rem;
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: uppercase;
}


.skills__section__order {
	list-style-type: none;
	padding-left: 0;
	display: grid;
	place-items: center;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(2, auto);
}




.skills__list ul li {
	width: 120px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	background-color: #082e48;
	color: #fff;
	font-size: 0.8rem;

}




.skills__list ul li img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}



.container__two__education {
	margin-top: 5px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: first baseline;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}



.education__list {
	list-style: none;
	display: flex;
	justify-content: first baseline;
	align-items: center;
}

.education__degree {
	font-size: 0.8rem;
	font-weight: bold;
	margin-bottom: 5px;
}




.container__experience {

	padding: 10px;
	margin-top: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}







.container__two__exp {
	font-size: 0.9rem;
	padding-bottom: 0.5rem;
	text-transform: uppercase;
        line-height: 1.2rem;
	font-family: 'Palanquin', sans-serif;
}

.text-experience {
	text-align: justify;
	text-indent: 45px;
	padding-bottom: 0.5rem;
	font-size: 0.7rem;
	line-height: 1.2rem;
	font-family: 'Montserrat', sans-serif;

}
